<div class="page-container">
  <div class="max-w-[75rem] mr-auto">
    <h1 class="text-[2rem] font-bold" jhiTranslate="privacy.headline"></h1>
    <span class="block text-base text-justify mt-8" jhiTranslate="privacy.text"></span>

    <h2 class="text-2xl font-semibold mt-8 mb-4" jhiTranslate="privacy.generalInformation.headline"></h2>

    <h3 class="text-xl font-semibold mt-6 mb-4" jhiTranslate="privacy.generalInformation.controller.headline"></h3>
    <span class="block text-base text-justify" jhiTranslate="privacy.generalInformation.controller.text"></span>

    <h3 class="text-xl font-semibold mt-6 mb-4" jhiTranslate="privacy.generalInformation.dataProtectionOfficer.headline"></h3>
    <span class="block text-base text-justify" jhiTranslate="privacy.generalInformation.dataProtectionOfficer.text"></span>

    <h2 class="text-2xl font-semibold mt-8 mb-4" jhiTranslate="privacy.processingOfPersonalData.headline"></h2>

    <h3 class="text-xl font-semibold mt-6 mb-4" jhiTranslate="privacy.processingOfPersonalData.logging.headline"></h3>
    <span class="block text-base text-justify" jhiTranslate="privacy.processingOfPersonalData.logging.text"></span>

    <h3 class="text-xl font-semibold mt-6 mb-4" jhiTranslate="privacy.processingOfPersonalData.personalData.headline"></h3>
    <span class="block text-base text-justify" jhiTranslate="privacy.processingOfPersonalData.personalData.text"></span>

    <h3 class="text-xl font-semibold mt-6 mb-4" jhiTranslate="privacy.processingOfPersonalData.dataProcessing.headline"></h3>
    <span class="block text-base text-justify" jhiTranslate="privacy.processingOfPersonalData.dataProcessing.text"></span>

    <h2 class="text-2xl font-semibold mt-8 mb-4" jhiTranslate="privacy.dataProtectionRights.headline"></h2>

    <h3 class="text-xl font-semibold mt-6 mb-4" jhiTranslate="privacy.dataProtectionRights.complaint.headline"></h3>
    <span class="block text-base text-justify" jhiTranslate="privacy.dataProtectionRights.complaint.text"></span>

    <h3 class="text-xl font-semibold mt-6 mb-4" jhiTranslate="privacy.dataProtectionRights.dataPortability.headline"></h3>
    <span class="block text-base text-justify" jhiTranslate="privacy.dataProtectionRights.dataPortability.text"></span>

    <h3 class="text-xl font-semibold mt-6 mb-4" jhiTranslate="privacy.dataProtectionRights.dataRight.headline"></h3>
    <p class="block text-base text-justify" jhiTranslate="privacy.dataProtectionRights.dataRight.text"></p>

    <h2 class="text-2xl font-semibold mt-8 mb-4" jhiTranslate="privacy.dataSecurity.headline"></h2>

    <h3 class="text-xl font-semibold mt-6 mb-4" jhiTranslate="privacy.dataSecurity.sslTls.headline"></h3>
    <span class="block text-base text-justify" jhiTranslate="privacy.dataSecurity.sslTls.text"></span>

    <h3 class="text-xl font-semibold mt-6 mb-4" jhiTranslate="privacy.dataSecurity.emailSec.headline"></h3>
    <span class="block text-base text-justify" jhiTranslate="privacy.dataSecurity.emailSec.text"></span>

    <div class="pt-6">
      <jhi-button
        (click)="exportUserData()"
        [label]="'privacy.export.button'"
        severity="primary"
        variant="outlined"
        size="xs"
        [shouldTranslate]="true"
        [disabled]="exportButtonDisabled()"
        [tooltip]="tooltip()"
        [translationParams]="tooltipParams()"
      />
    </div>
  </div>
</div>
