<p-dialog
  [visible]="visible()"
  (visibleChange)="onVisibleChange($event)"
  [modal]="modal()"
  [draggable]="draggable()"
  [resizable]="resizable()"
  [dismissableMask]="dismissableMask()"
  [closeOnEscape]="closeOnEscape()"
  [closable]="closable()"
  [showHeader]="showHeader()"
  [class]="classStyling()"
  [style]="mergedStyle()"
  [header]="displayHeader()"
  [contentStyleClass]="contentStyleClass()"
  [contentStyle]="contentStyle()"
  [appendTo]="appendTo()"
  [pt]="passThrough()"
>
  @if (headerTemplate(); as headerSlot) {
    <ng-template #header>
      <ng-container [ngTemplateOutlet]="headerSlot.template" />
    </ng-template>
  }
  <ng-content />
  @if (footerTemplate(); as footerSlot) {
    <ng-template #footer>
      <ng-container [ngTemplateOutlet]="footerSlot.template" />
    </ng-template>
  }
</p-dialog>
